body{
    
    height: 100vh;
    margin: 0;

}

main{

    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
}

#game{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}



.board{
    position:relative;
    min-width: 256px;
    min-height: 256px;
    border-radius: 10px;
    padding: 8px;
    border-color: #000000;
    background-color: #818181;
    border-style: solid;
    border-width: 8px;
    box-shadow: 4px 4px 4px rgb(73, 73, 73)
}

.row{
   
    padding: 2px 0;
    background-color: #818181;
    min-height: 64px;
    margin:0 2px;
    display: flex;
    flex-direction: row;

}
.cell{
    height: 64px;
    width: 64px;
    margin:0 1px;
    background-color: rgb(15, 14, 14);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.31);
    border-radius: 2px;



}
.player{
    position:absolute;
    box-sizing: border-box;
    height:  64px;
    width: 64px;

    background-color: rgb(255, 255, 255);
    box-shadow: none;
}


.vazio {

background-color: unset;
box-shadow: none;

}

.box { background-color: crimson;}
.wall { background-color: rgb(87, 61, 61);}